<div class="col-sm-2 col-md-4">
	<%= image_tag(product.image_url, class: "img-responsive") %>
 	<a href="#"><h1><%= product.name %></h1></a>
 	<p><%= product.description %></p>
	<p><%= product.colour %></p>
 	<p><strong>£ <%= product.price %></strong></p>
 	<h5><%= link_to 'Show', product %>
 	<%= link_to 'Edit', edit_product_path(product) %>
 	<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
</div>