<div id="product-page">
	<p id="notice"><%= notice %></p>

	<div class="row">
	  <div class="col-md-12">
	    <h2><%= @product.name %></h2>
	    <p><%= @product.description %></p>
	    <%= image_tag(@product.image_url, class: "img-responsive") %>
	    <%= @product.colour %>
	    <strong><%= @product.price %></strong>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	  	<%= @product.highest_rating_comment.try(:rating) %>
		  <%= @product.highest_rating_comment.try(:body) %>
	  </div>
	  <div class="col-md-6">
	    <%= @product.lowest_rating_comment.try(:rating) %>
	    <%= @product.lowest_rating_comment.try(:body) %>
	  </div>
	</div>
	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
	<%= render 'new_comment' %>
	<%= render 'comments' %>
</div>