<div id="product-page">
	<p id="notice"><%= notice %></p>

	<div class="row">
    <h3><%= @product.name %></h3>
    <div class=" col-md-6">
	    <%= image_tag(@product.image_url, class: "img-responsive") %>
	  </div>
	  <div class="col-md-6">
	  	<p><%= @product.description %></p>
	    <p><%= @product.colour %></p>
	    <p><%= @product.price %></p>
	    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
	    <%= form_tag "/payments" do %>
	    	<%= hidden_field_tag(:product_id, @product.id) %>
  			<%= render partial: "shared/stripe_checkout_button" %>
			<% end %>
	  </div>
		<div class="col-xs-12 reviews">
			<%= render partial: "shared/new_comment" %>
		  <%= render partial: "shared/comments" %>
		  <%= will_paginate @comments %>
		</div>
		<div class="col-xs-12">
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %> |
			<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
</div>