<div id="product-page">
	<p id="notice"><%= notice %></p>

	<div class="row" data-product-id="<%= @product.id %>">
    <h3><%= @product.name %></h3>
    <div class="col-md-6">
	    <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %> 
	  </div>
	  <div class="col-md-6">
	  	<p><%= @product.description %></p>
	    <p><%= @product.colour %></p>
	    <p><%= @product.price %></p>
	    <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
	    <%= form_with(url: '/payments/create') do |form| %>
  			<%= render partial: "shared/stripe_checkout_button" %>
			<% end %>
			<h6>  
			  Views:
			  <span class="badge">
			    <%= @product.views %>
			  </span>
			</h6>  
	  </div>
		<div class="col-xs-12 reviews">
			<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
			<%= render partial: "shared/new_comment" %>
		  <%= render partial: "shared/comments" %>
		  <%= will_paginate @comments %>
		</div>
		<div class="col-xs-12">
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %> |
			<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
</div>