<!DOCTYPE html>
<html>
  <head>
    <title>The Bike Shed</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat+Alternates" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#"><h4>The Bike Shed</h4></a> 
        </div><!-- end navbar-header -->
        <%= form_tag("/products", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q, "", type: "text") %>
          <%= submit_tag("Search") %>
        <% end %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "Home", root_path %>
            <%= link_to "products", products_path %>
            <%= link_to "about", static_pages_about_path %>
            <%= link_to "contact", static_pages_contact_path %>
		      </ul>
        </div>
      </div><!-- end container fluid -->
		</nav><!-- end navbar -->
    
    <%= yield %>
    
    <footer>
      <div class="row">
        <div id="bottom-logo">
          <h4>The Bike Shed</h4>
        </div>
        <div class="social">
          <i class="fa fa-facebook-square"></i>
        </div>
        <div class="social">
          <i class="fa fa-twitter fa-4"></i>
        </div>
        <div class="social">
          <i class="fa fa-instagram fa-4"></i>
        </div>
      </div>
      <div id="copyright">
        <span class>&copy; 2017 Alan Murad</span>
      </div>
		</footer>
  </body>
</html>
